# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/dubbo_privider_anno/.idea/
/dubbo_privider_anno/target/
/dubbo_privider_anno/dubbo_privider_anno.iml
/dubbo_privider_anno/01-provide.iml
/dubbo_privider_anno/dubbo.iml
/dubbo_customer_anno/dubbo2/target/
/dubbo_customer_anno/dubbo2/.idea/
/dubbo2/.idea/
/.idea/
/dubbo/.idea/
/dubbo/dubbo.iml
/dubbo/01-provide.iml
/dubbo2/dubbo2/02-customer.iml
/dubbo2/dubbo2/dubbo.iml
/dubbo2/dubbo2/01-provide.iml
/dubbo2/dubbo2/.idea/
/dubbo_customer_anno/dubbo2/01-provide.iml
/dubbo_customer_anno/dubbo2/dubbo.iml
/dubbo_customer_anno/.idea/
/dubbo_customer_anno/dubbo2/02-customer (1).iml
/dubbo_customer_anno/dubbo2/02-customer.iml
/dubbo_privider_anno/target/generated-sources/
/dubbo_privider_anno/target/classes/
/dubbo_privider_anno/target/test-classes/
/dubbo_privider_anno/target/generated-test-sources/
